*{
    margin: 0;
    padding: 0;
    color: yellow
}

body{
    background-color: black;
}

.searchInput{
    margin-top: 50px;
}

button{
    height: 30px;
    width: 85px;
    background-color: black;
    border: yellow solid 1px;
    box-shadow: 3px 1px 3px yellow; 
    cursor: pointer;
}

.resourceSelector{
    height: 25px;
    width: 200px;
    margin: 20px;
    margin-left: 10px;
    background-color: rgb(83, 82, 82);
    border-radius: 20px;
    border: solid 1px black;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
}

.idInput{
    height: 25px;
    width: 60px;
    margin: 20px;
    margin-left: 10px;
    background-color: rgb(83, 82, 82);
    border-radius: 20px;
    border: solid 1px black;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
}


label{
    font-size: 20px;
    letter-spacing: 2px;
}

.idErrorMessage{
    color: red;
}